* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(./amazon-png-logo-vector-6702.png);
    height: 60px;
    width: 100%;
    background-size: cover;
    align-items: top;
}

.border {
    border: 1.5px black;
}

.border:hover {
    border: 1.5px solid white;
}


/**box2 **/

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/**box 3**/
.nav-search {
    margin-left: 15px;
    display: flex;
    background-color: aqua;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
}

.nav-search:hover {
    border: 2.5px solid #febd68;
}

.search-select {
    background-color: rgb(206, 206, 206);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
}

/**box4**/
span {
    font-size: 0.76rem;
}

.nav-second {
    font-size: 0.9rem;
    font-weight: 700;
}

/**box5**/
.cart-icon {
    align-items: center;
    font-size: 30px;
}

.carttxt {
    margin-left: 7px;
    font-size: 17px;
}

/**panel**/
.panel {
    height: 40px;
    background-color: #222F3D;
    display: flex;
    color: #cccccc;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: .85rem;
}

.panel-deal {
    font-size: .95rem;
    font-weight: 700;
}


.hero-section {
    background-image: url(./hero\ image.jpg);
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    height: 40px;
    width: 80%;
    background-color: whitesmoke;
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 30px;
}

.hero-msg a {
    color: #007185;
}

.box {

    height: 400px;
    width: 23%;
    margin: 1%;
    background-color: white;
    padding: 20px 0px 15px;
}

.shop-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}

.box-img1 {
    background-image: url(./box1.jpg);
    height: 300px;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 4px;
    margin-right: 4px;
}


.shop-now {
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}

.toy-under {
    color: #0f1111;
    text-decoration: dotted;
}


.box-img2 {
    background-image: url(./box2.jpg);
    height: 300px;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 4px;
    margin-right: 4px;
}


.shop-now {
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}

.toy-under {
    color: #0f1111;
    text-decoration: dotted;
}


.box-img3 {
    background-image: url(./box3.jpg);
    height: 300px;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 4px;
    margin-right: 4px;
}


.shop-now {
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}

.toy-under {
    color: #0f1111;
    text-decoration: dotted;
}



.box-img4 {
    background-image: url(./box4.jpg);
    height: 300px;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 4px;
    margin-right: 4px;
}


.shop-now {
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}

.toy-under {
    color: #0f1111;
    text-decoration: dotted;
}

.box-img5 {
    background-image: url(./box5.jpg);
    height: 300px;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 4px;
    margin-right: 4px;
}


.shop-now {
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}

.toy-under {
    color: #0f1111;
    text-decoration: dotted;
}


.box-img6 {
    background-image: url(./box6.jpg);
    height: 300px;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 4px;
    margin-right: 4px;
}


.shop-now {
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}

.toy-under {
    color: #0f1111;
    text-decoration: dotted;
}


.box-img7 {
    background-image: url(./box7.jpg);
    height: 300px;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 4px;
    margin-right: 4px;
}


.shop-now {
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}

.toy-under {
    color: #0f1111;
    text-decoration: dotted;
}


.box-img8 {
    background-image: url(./box8.jpg);
    height: 300px;
    margin-top: 12px;
    margin-bottom: 30px;
    margin-left: 4px;
    margin-right: 4px;
}


.shop-now {
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}

.toy-under {
    color: #0f1111;
    text-decoration: dotted;
}